* {
 box-sizing: border-box;
}

body {
  display: flex;
  font-family: Calibri;
  line-height: 100%;
  padding: 20px;
  background-color: rgb(243, 243, 243);
}

img {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}

.img-fluid {
  transition: all 0.3s ease-in-out;
}

.img-fluid:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}


i {
  transition: all 0.3s ease-in-out;
}

i:hover {
  color: #0078ff; 
  opacity: 0.8; 
  transform: scale(1.2); 
  cursor: pointer; 
}

.heading {
  text-align: left;
  line-height: 100%;
}

p {
  line-height: 100%;
}

span { 
  float: right; 
  margin-right: 50px;
}

.leftcolumn {
  float: left;
  width: 35%;
  padding-left: 10px;
  padding-right: 10px;
}

.rightcolumn {
    float: left;
    width: 65%;
    padding-left: 10px;
    padding-right: 10px;
  }

.rows {margin: 0 -5px;}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 10px;
  text-align: left;
  background-color: white;
}

hr {
  height: .25px;
  color: #d3d3d3;
}

@media screen and (max-width: 768px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
  
